.newsreader {
  font-family: 'Newsreader', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.franklingothic {
  font-family: 'Franklin Gothic', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
